<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- styles -->
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/css/prettyPhoto.css" rel="stylesheet" />
  <link href="/css/animate.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Roboto+Condensed:400,300,700" rel="stylesheet" />

  <link href="/css/style.css" rel="stylesheet" />
  <link href="/color/default.css" rel="stylesheet" />

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.ico" />
</head>


<body>
  <header>
    <!-- start top -->
    <div id="topnav" class="navbar navbar-fixed-top default">
      <div class="navbar-inner">
        <div class="container">
          <div class="logo">
      <h1>WELCOME <span class="badge badge-secondary">Geo Weather</span></h1>
          </div>

          <div class="navigation">
            <nav>
              <ul class="nav pull-right">
                <li class="current"><a href="/">Home</a></li>
                <li ><a href="#Fgeo">Forward Geocoding</a></li>
                <li><a href="#services">Weather</a></li>
                <li><a href="#Rgeo">Reverse Geocoding</a></li>
              </ul>
            </nav>
          </div>


          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end top -->
  </header>
  <!-- section intro -->
  <section id="intro">
    <div class="slogan">
      <div class="icon">
        <i class="icon-cloud icon-10x"></i>
      </div>
      <h1>Oops<span>This is not a valid Page</span></h1>
      <h2>Kindly go back to the homepage </h2>
      <button><a href="/">Home Page</button></a></button> 
    </div>
  </section>
 

  <footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div class="logo">
                  <h1>Geo-Weather</h1>
              </div>
              <p>
                &copy; Geo-Weather - All right reserved
              </p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Vesperr
                -->
                Created by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-48 active"></i></a>

  <!-- Javascript Library Files -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.easing.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/parallax/jquery.parallax-1.1.3.js"></script>
  <script src="/js/nagging-menu.js"></script>
  <script src="/js/jquery.nav.js"></script>
  <script src="/js/prettyPhoto/jquery.prettyPhoto.js"></script>
  <script src="/js/portfolio/jquery.quicksand.js"></script>
  <script src="/js/portfolio/setting.js"></script>
  <script src="/js/hover/jquery-hover-effect.js"></script>
  <script src="/js/jquery.scrollTo.min.js"></script>
  <script src="/js/animate.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="/js/custom.js"></script>

</body>

</html>
